header {
  background-color: #222222;
  padding: 18px 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__left a {
  margin: 0 41px 0 0;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__item:not(:last-child) {
  margin: 0 33px 0 0;
}

.outro-block {
  height: 448px;
  background-image: url(./img/outro_back.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.outro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.outro__left {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.outro__left p {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.outro__right {
  width: 557px;
}

.outro__right h2 {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
}

.outro__right h3 {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.outro__right form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 32px 0 0 0;
}

.outro__right form .vvod {
  font-size: 14px;
  padding: 16px 0 16px 22px;
  width: 258px;
  background: #E1E1E1;
  border: none;
  border-radius: 24px 0 0 24px;
  color: #222224;
}

.outro__right form .knopka {
  cursor: pointer;
  font-size: 14px;
  padding: 16px 20px 16px 21px;
  background: #F16D7F;
  border: none;
  border-radius: 0 24px 24px 0;
  color: #FFFFFF;
}

footer {
  background: #222224;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__left h4 {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding: 30px 0;
}

.footer__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__right__item {
  width: 32px;
  height: 32px;
  background: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__right__item a {
  text-decoration: none;
  color: black;
}

.footer__right__item:hover {
  background: #F16D7F;
}

.footer__right__item:not(:last-child) {
  margin: 0 7px 0 0;
}

.footer__right__item:hover a {
  color: white;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: lato;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  width: 100%;
  margin: 0 auto;
}

/* CATALOG */
/*//////////*/
.catalog-intro {
  background: #F8F3F4;
}

.c-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-intro__left {
  padding: 60px 0;
}

.c-intro__left h1 {
  color: #F16D7F;
  font-size: 24px;
  line-height: 29px;
}

/* CART PAGE */
/*//////////*/
.cart-box {
  padding: 96px 0 128px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-box__left {
  width: 652px;
}

.cart-box__right {
  width: 360px;
}

.cart-box__right h3 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin: 20px 0;
}

.cart-box__right form input {
  width: 100%;
  padding: 16px 0 16px 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  border: 1px solid #A4A4A4;
  margin: 0 0 21px 0;
}

.cart-box__right form button {
  padding: 12px 15px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background: #FFFFFF;
  border: 1px solid #A4A4A4;
  margin: 3px 0 57px 0;
}

.cart-box__right form button:hover {
  cursor: pointer;
}

.cart-box__right__chekout {
  background: #F5F3F3;
  padding: 42px;
}

.cart-box__right__chekout h5 {
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  margin: 0 0 12px 0;
  text-align: right;
}

.cart-box__right__chekout h4 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  margin: 0 0 21px 0;
  text-align: right;
}

.cart-box__right__chekout h4 span {
  color: #F16D7F;
}

.cart-box__right__chekout hr {
  color: #E2E2E2;
  margin: 0 0 33px 0;
}

.cart-box__right__chekout a {
  text-decoration: none;
  padding: 16px 42px;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: #F16D7F;
}

.cart-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  margin: 0 0 40px 0;
}

.cart-item_img {
  max-height: 306px;
}

.cart-item_img img {
  height: 100%;
}

.cart-item__description {
  padding: 22px 0 0 31px;
}

.cart-item__description .close {
  position: absolute;
  top: 28px;
  right: 22px;
}

.cart-item__description .close:hover {
  cursor: pointer;
}

.cart-item__description h2 {
  max-width: 262px;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  margin: 0 0 42px 0;
}

.cart-item__description p {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin: 0 0 6px 0;
}

.cart-item__description p span {
  color: #F16D7F;
}

.cart-item__description__vvod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart-item__description__vvod p {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  margin: 0 0 6px 0;
}

.cart-item__description__vvod input {
  padding: 2px 0 2px 0x;
  width: 44px;
  margin: 0 0 0 24px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #656565;
  border: 1px solid #EAEAEA;
}

.cart-knopki {
  margin: 72px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-knopki a {
  text-decoration: none;
  padding: 16px 40px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 1px solid #A4A4A4;
}
/*# sourceMappingURL=style.css.map */