/* HEADER */
@import "blocks/_header.scss"; 
/* OUTRO */
@import "blocks/_outro.scss"; 
/* FOOTER */
@import "blocks/_footer.scss";  
/*MAIN*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: lato;
}
.container{
    max-width: 1160px;
    padding: 0 10px;
    width: 100%;
    margin: 0 auto;
}


.intro{
    height: 764px;
    background-color: #F1E4E6;
    margin: 0 0 65px 0;
    &__wrap{
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        background-image: url(./img/intro-men.png) ;
        background-repeat: no-repeat;
        background-position: -228px bottom;
        &__text{
            margin: 0 40px 0 0;
            width: 40%;
            & h1{
                font-weight: 900;   
                font-size:48px;
                line-height: 58px;
            }
            & p{
                font-weight: 700;
                font-size: 32px; 
                line-height: 38px;
                & span{
                    color: #F16D7F;
                }
            }
            & h1, p{
                max-width: 405px;
                border-left: 12px solid #F16D7F;
                padding: 0 0 0 16px;
            }
        }
    }
}

.block-wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &:not(:last-child){
            width: 32%;
            height: 260px;
            margin: 0 0 30px 0;
        }
        &:last-child{
            width: 100%;
            height: 180px;
        }
        & h3{
            font-size: 16px;
            line-height: 19px;
            color: #FFFFFF;
        }
        & p{
            font-size: 24px;
            line-height: 29px;
            color: #F16D7F;
        }
    } 
    
}
.block__women{
  background-image: url(./img/for-woomen.jpg);
  background-size: 100% 100%;
}
.block__men{
    background-image: url(./img/for-men.jpg);
}
.block__kids{
    background-image: url(./img/for-kids.jpg);
}
.block__accesories{
    background-image:url(./img/accesories.jpg);
}

.fetured__items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & h2{
        font-size: 30px;
        line-height: 36px;
        padding: 96px 0 0 0;
    }
    & p{
        color: #9F9F9F;
        font-size: 14px;
        line-height: 17px;
        margin: 6px 0 48px 0;
    }
}

.block__catalog{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.card-item{
    width: 360px;
    margin: 0 0 30px 0;
    background-color: #F8F8F8;
    // &:nth-child(2n){
    //     margin: 0 0 30px 0;
    // }
    &__text{
        padding: 0 0 2px 0;
        & a{
            text-decoration: none;
            & h3{
                font-size: 13px;
                line-height: 16px;
                padding: 25px 0 12px 18px;
                font-weight: bold;
                color: #000000;
            }
        }
        & p{
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: #5D5D5D;
            padding: 0 28px 18px 18px;
            & span{
                font-size: 16px;
                line-height: 19px;
                color: #F16D7F;
                
            }
        }
        
    }
}

.card-item__img{
    position: relative;
}
.card-overlay {
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
    transition: 0.5s;
}
.card-item:hover .card-overlay {
      opacity: 1;
    
}
.card-add {
    padding: 10px 20px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #FFFFFF;
    &:hover {
        color: #F16D7F;
        border: 1px solid #F16D7F;
    }
}

.button{
    display: flex;
    justify-content: center;
    margin: 18px 0 95px 0;
    &:hover a.catalog__jumption{
        color: #FFFFFF;
        background-color:#F16D7F;
    }
    & a{
        text-decoration: none;
        display: inline-block;
        text-align: center;
        padding: 14px 38px;
        border: 1px solid #FF6A6A;
        justify-content: center;
        font-size: 16px;
        line-height: 19px;
        color: #F26376;
    }
}

.offers{
    background: #222224;
    &__block{
        display: flex;
        justify-content: space-between;
        padding: 104px 0;
    }
}

.offers-item{
    &__img{
        display: flex;
        justify-content: center;
    }
    & h4    {
        font-size: 20px;
        line-height: 24px;
        color: #FBFBFB;
        text-align: center;
        font-weight: normal;
    }
    & p{
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
        color: #FBFBFB;
        margin: 16px 0 0 0;
        padding: 0 30px;
    }
}

.car{
    margin: 0 0 28px 0;
}
.discount{
    margin: 0 0 19px 0;
}
.crown{
    margin: 0 0 25px 0;
}
/* CATALOG */
/*//////////*/
.catalog-intro{
    background: #F8F3F4;
}
.c-intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__left{
        padding: 60px 0;
        & h1{
            color: #F16D7F;
            font-size: 24px;
            line-height: 29px;
        }
    }
    &__right{
        & ul{
            display: flex;
            justify-content: flex-end;
            list-style: none;
            & li {
                font-size: 14px;
                line-height: 17px;
                & a{
                    text-decoration: none;
                    color: #636363;  
                    & span{
                        color: #F16D7F;
                    }
                }
            }
        }
    }
}

.menu{
    padding: 51px 0 64px 0; 
}
.menu__line{
    display: flex;
    justify-content: center;
    position: relative;
}
.filter{
    margin: 0 304px 0 18px;
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    &[open]{
        width: 360px;
        padding: 17px;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        top: -17px;
        left: -17px;         
    }
    &[open]>summary{
        color: #EF5B70;
    }
    &[open] .f-svg{
        fill: #EF5B70;
    }
    &__text {
        display: flex;
        align-items: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 17px;
        color: #000000; 
          
    }
}



.filter__category{
    &[open]>summary{
    color: #EF5B70;
    }   
    &__text{
    display: flex;
    align-items: center;
    padding: 10px 0 10px 11px;
    border-left: 5px solid #EF5B70;
    border-bottom: 1px solid #EBEBEB;
    margin: 18px 0 0 0;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E; 
        
    } 
}

.list-f{
    list-style: none;
    margin: 24px 0 24px 14px;
    & li{
        margin: 0 0 11px 0;
        & a{
            text-decoration: none;
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
        }
    }
}

.f-menu{
    display: flex;
    align-items: center;
    &:not(:last-child){
        margin: 0 28px 0 0;
    }
    
    & p{
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        margin: 0 10px 0 0;
    }
    & img{
        &:hover{
            cursor: pointer;
        }
        &:hover  .filter-chekbox{
            display:block;
        }
    }
    &__size{
        display: flex;
        position:relative;
        align-items: center;
        & p{
            font-size: 14px;
            line-height: 17px;
            color: #6F6E6E;
            margin: 0 10px 0 0; 
        }
        &__v{
            &:hover{
                cursor: pointer;
            }
            &:hover  .filter-chekbox{
                display:block;
            }
        }
    }
}

.filter-chekbox {
    position:absolute;
    left:-16px;
    bottom:0;
    right:0;
    top:16px;
    padding:5px;
    display:none;
    & ul{
        list-style: none;
        background: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        width: 80px;
        padding: 10px;
        font-size: 14px;
        line-height: 16px;
        color: #6F6E6E;
        & li{
            &:not(:last-child){
                margin: 0 0 10px 0;
            }
        }
    }
}

#one{
    margin: 0 5px 0 0;
    opacity: 0.4;
}

.number__choise{
    display: flex;
    justify-content: center;
    margin: 18px 0 96px 0;
    & ul{
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 16px;
        border: 1px solid #EBEBEB;  
        & li{
            font-size: 16px;
            line-height: 19px;
            &:not(:last-child){
                margin: 0 18px 0 0;
            }
            & a{
                text-decoration: none;
                color: #636363; 
            }
        }
    }
}



/* PRODUCT PAGE */ 
/*//////////*/
.slider{
    padding: 11px 0 42px 0;
    position: relative;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    &__box{
        width: 47px;
        height: 47px;
        background: rgba(42, 42, 42, 0.15);
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:hover {
            cursor: pointer;
        }
        & svg {
            &:active{
                fill: #F16D7F;
            }
        }
    }
}
.slider-left{
    position: absolute;
    left: 0;
}
.slider-right{
    position: absolute;
    right: 0;
}

.product__description{
    position: relative;
    z-index: 1;
    margin: -65px 0 193px 0;
}
.product-box{
    background: #FFFFFF;
    padding: 65px 292px;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #EAEAEA;
    &__colection{
      & h2{
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
      }  
    }
    &__pink-stripe{
        width: 63px;
        height: 3px;
        background: #EF5B70;
        margin: 12px 0;
    }
    &__name{
        & h3{
            font-weight: 300;
            font-size: 18px;
            line-height: 22px;
            color: #4D4D4D;
        }
    }
    &__definition{
        & p{
            margin: 48px 0 32px 0;
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            text-align: center;
            color: #5E5E5E;  
        }
    }
    &__price{
        & p{
            font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
        }
    }
    &__grey-stripe{
        width: 640px;
        border: 1px solid #EAEAEA;
        margin: 65px 0;
    }
    &__filter{
        display: flex;
    }
    &__cart{
        margin: 48px 0 0 0;
        display: flex;
        align-items: center;
        border: 1px solid #FF6A6A;
        padding: 14px 56px 8px 24px;
        & a{
            text-decoration: none;
            padding: 0 0 0 23px;
            font-size: 16px;
            line-height: 19px;
            color: #F26376; 
        }
        &:hover {
            background-color:#F16D7F;
        }
        &:hover a,
        &:hover svg{
            color: #FFFFFF;
            fill: #ffffff;
        }
        
    }
}

.products__cards{
    margin: 0 0 98px 0;
}

/* CART PAGE */ 
/*//////////*/

.cart-box{
    padding: 96px 0 128px 0;
    display: flex;
    justify-content: space-between;
    &__left{
        
        width: 652px;
    }   
    &__right{
        width: 360px;
        &__form{
            & h3{
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #222222;
                margin: 20px 0;
            }
            & form{
                & input{
                    width: 100%;
                    padding: 16px 0 16px 17px;
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 16px;
                    color: #B1B1B1;
                    border: 1px solid #A4A4A4;
                    margin: 0 0 21px 0;
                }
                & button {
                    padding: 12px 15px;
                    font-weight: 300;
                    font-size: 11px;
                    line-height: 13px;
                    color: #4A4A4A;
                    background: #FFFFFF;
                    border: 1px solid #A4A4A4;
                    margin: 3px 0 57px 0;
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        
        &__chekout{
            background: #F5F3F3;
            padding: 42px;
            & h5{
                font-size: 11px;
                line-height: 13px;
                color: #4A4A4A;
                margin: 0 0 12px 0;
                text-align: right;
            } 
            & h4 {
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #222222;
                margin: 0 0 21px 0;
                text-align: right;
                & span {
                    color: #F16D7F; 
                }
            } 
            & hr{
                color: #E2E2E2;
                margin: 0 0 33px 0;
            } 
            & a{
                text-decoration: none;
                padding:  16px 42px;
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #FFFFFF;
                background: #F16D7F;
                &:hover{
                    transition: cubic-bezier(.86,.12,0,.76) 2s;
                    color: #F16D7F;
                    background: #FFFFFF;
                    border-radius: 20px;
                    border: 1px solid #F16D7F;
                }
            }  
        }
    }
}

.cart-item{
    position: relative;
    display: flex;
    justify-content: flex-start;
    box-shadow: 6px 20px 35px rgba(0, 0, 0, 0.21);
    margin: 0 0 40px 0;
    &_img{
        max-height: 306px;
        max-width: 262px;
        &:hover{
            transition: cubic-bezier(.86,.12,0,.76) 2s;
            transform: scale(1.25);
        }
        & img{
            height: 100%;
        }
    }
    &__description{
        padding: 22px 0 0 31px;
        & .close{
            position: absolute;
            top: 28px;
            right: 22px;
            &:hover {
                cursor: pointer;
            }
        }
        & h2{
            max-width: 262px;
            font-size: 24px;
            line-height: 29px;
            color: #222222;
            margin: 0 0 42px 0;
        }
        & p{
            font-size: 22px;
            line-height: 26px;
            color: #575757;
            margin: 0 0 6px 0;
            & span {
                color: #F16D7F;
            }
        }
        &__vvod{
            display: flex;
            & p{
                font-size: 22px;
                line-height: 26px;
                color: #575757;
                
            }
            & input{
                padding: 2px 0 2px 0x;
                width: 44px;
                margin: 0 0 0 24px;
                font-size: 18px;
                line-height: 22px;
                text-align: center;
                color: #656565;
                border: 1px solid #EAEAEA;
                &::-webkit-outer-spin-button,
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }
        }
    }
}
@keyframes knopka-izm{
    0% { transform: rotate(0deg)}
    50% { transform: rotate(360deg);
    background-color: #F16D7F;
    color: #FFFFFF;}
    100% { transform: rotate(720deg)}
}

.cart-knopki{
    margin: 72px 0 0 0;
    display: flex;
    justify-content: space-between;
    
    & a{
        text-decoration: none;
        padding:  16px 40px;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        border: 1px solid #A4A4A4;
        &:hover{
            animation: knopka-izm 3s;
        } 
    }
}

/* REGISTRATION PAGE */ 
/*///////////////////*/

.personal-data{
    padding: 64px 0 96px 0;
    background: #FFFFFF;
}
.data{
    display: flex;
    justify-content: space-between;
    &__left{
        max-width: 360px;
        width: 100%;
        
        & form{
            & p{
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                color: #222222;
            }
            & .form{
                margin: 21px 0 0 0;
                width: 100%;
                font-weight: 300;
                font-size: 13px;
                line-height: 16px;
                color: #B1B1B1;
                border: 1px solid #A4A4A4;
                padding: 16px 0 16px 17px;
            }
            & .annotation{
                margin: 16px 0 38px 0;
                & p{
                    font-weight: 300;
                    font-size: 13px;
                    line-height: 16px;
                    color: #B1B1B1;
                }
            }
            & button{
                font-size: 14px;
                line-height: 17px;
                color: #FFFFFF;
                background: #F16D7F;
                border: none;
                padding: 16px 29px;
                &:hover{
                    cursor: pointer;
                }
                
            }
           
        }
        
    }
    &__right{
        max-width: 650px;
        width: 100%;
        margin: 0 0 0 22px;
        
        color: #000000;
        & p{
            font-weight: 100;
            font-size: 24px;
            line-height: 29px;
            margin: 0 0 22px 0;
        }
        & ul{
            list-style: none;
            & li{
                font-weight: 300;
                font-size: 24px;
                line-height: 29px;
                color: #000000;
                margin: 0 0 16px 0;
                &::before{
                    padding: 0 23px 0 0;
                    content: url(./img/galochka.svg);
                }
            }
        }
    }
}

.gender{
    border: none;
    margin: 32px 0;
    display: flex;
    
    & span{
       vertical-align: middle;
        margin: 0 20px 0 10px;
        padding: 0 0 3px 0;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #000000;
    }
    & label{
        display: flex;
        align-items: center;
    }
    
}

/* АДАПТАЦИЯ */
/*//////////*/

@media (max-width: 1100px){
    .block__catalog{
        justify-content: center;
    }
    .card-item{
        margin: 0 0 16px 0;
        &:nth-child(2n){
            margin: 0 0 16px 16px;
        }
    }
}

@media (max-width: 740px){
    .card-item{
        &:nth-child(2n){
            margin: 0 0 16px 0;
        }
    } 
}

@media (max-width: 768px){

    .container{
        max-width: 756px;
    }
    .intro{
        height: 368px;
        margin: 0 0 20px 0;
        &__wrap{
            background-position: -77px bottom;
            
            background-size: 50%;
            &__text{
                margin: 0 12px 0 0;
                width: auto;
                & h1{
                    font-size:44px;
                    line-height: 53px;
                }
                & p{
                    font-weight: bold;
                    font-size: 24px; 
                    line-height: 29px;
                } 
            }
        }
        
    }
    .block-wrap{
        &__item{
            &:not(:last-child){
            
                height: 168px;
                margin: 0 0 30px 0;
            }
            &:last-child{
               height: 180px;
            }
        }
    }
    .fetured__items{
        & h2{
            padding: 155px 0 0 0; 
        } 
    } 
    .button{
        margin: 16px 0 64px 0;
    }
    .offers{
        &__block{
            display: flex;
            flex-direction: column;
            padding: 48px 14px 16px 14px;
        }
    }
    .offers-item{
        
        & p{
            max-width: 300px;
            text-align: center;
            margin: 0 auto;
            padding: 16px 0 48px 0;
        }
    }
    /* CATALOG */
    /*//////////*/
    .number__choise{
        margin: 24px 0 64px 0;
    }
    .menu__line{
        justify-content: flex-end;
    }
    .menu{
        padding: 24px 0 40px 0; 
    }
    /* PRODUCT PAGE */ 
    /*//////////*/
    .slider{
        padding: 30px 0;
    }
    .slider__center{
        height: 565px;
    }
    .product__description{
        margin: 0 0 130px 0;
    }
    .product-box{
        padding: 65px 106px;
    }
    .products__cards{
        margin: 0 0 114px 0;
    }
    /* CART PAGE */ 
    /*//////////*/
    .cart-box{
        padding: 59px 0 128px 0;
        flex-direction: column;
        align-items: center;
        &__left{
        
            width: 734px;
        }
        &__right{
            width: 100%;
            display: flex;
            justify-content: space-between;
            &__form{
                width: 48%;
                & form{
                    & button {
                        margin: 3px 0 0 0;
                    }
                }
                
            }
            &__chekout{
                margin: 59px 0 0 0;
                width: 48%;
                height: 214px;
            }
        }
    }
    .cart-knopki{
        margin: 62px 0 44px 0;
        display: flex;
        justify-content: center;
        & a{
            &:first-child{
                margin: 0 48px 0 0;
            }
        }
    }
    /* REGISTRATION PAGE */ 
    /*///////////////////*/
    .personal-data{
        padding: 40px 0 96px 0;
    }
    .data{
        &__right{
            max-width: 350px;
            & p{
                font-weight: 300;
                font-size: 16px;
                line-height: 19px;
                &:first-child{
                    margin: 0 0 32px 0;
                }
            }
            & ul{
                & li{
                    font-weight: 300;
                    font-size: 16px;
                    line-height: 19px;
                }
            }
            
        }
    }

}


@media (max-width: 375px){

    .container{
        max-width: 375px;
        
    }
    .intro{
        height: 363px;
        margin: 0 0 64px 0;
        &__wrap{
            
            background-image: none;
            padding: 0;
            &__text{
                
                margin: 0 auto;
                width: 70%;
                & h1{
                    font-size:38px;
                    line-height: 46px;
                }
                & p{
                    font-weight: bold;
                    font-size: 20px; 
                    line-height: 24px;
                }
                & h1, p{
                    max-width: 100%;
                }
            }
        }
        
    }
    .block-wrap{
        &__item{
            &:not(:last-child){
                width: 100%;
                height: 250px;
                margin: 0 0 30px 0;
            }
            &:last-child{
                width: 100%;
                height: 110px;
            }
        }
    }
    .fetured__items{
        & h2{
            padding: 64px 0 0 0; 
        } 
    }
    .button{
        margin: 26px 0 96px 0;
    }
    .offers{
        &__block{
            padding: 48px 14px 42px 14px;
        }
    }
    /* CATALOG */
    /*//////////*/
    .c-intro{
        flex-direction: column;
        &__left{
            padding: 24px 0 32px 0;
        }
        &__right{
        padding: 0 0 48px 0;
        }
    }
    .pusto{
        display: none;
    }
    .f-svg{
       width: 38px;
       height: 25px;
    }
    .f-menu{
        &:not(:last-child){
            margin: 0 24px 0 0;
        }
        & p{
            font-size: 12px;
            line-height: 14px;
            margin: 0 9px 0 0;
        }
    }
    /* PRODUCT PAGE */ 
    /*//////////*/
    .slider{
        padding: 85px 0;
    }
    .slider__center{
        height: 454px;
    }

    .product__description{
        margin: 0 0 64px 0;
    }

    .product-box{
        padding: 65px 25px;
        &__definition{
            & p{
                margin: 32px 0;
            }
        }
        &__grey-stripe{
            width: 175px;
            margin: 32px 0 50px 0;
        }
        &__filter{
            & .f-menu{
                & p{
                    font-size: 10px;
                    line-height: 12px;
                }
                
                
            }
        }
        &__cart{
            margin: 64px 0 0 0;
        }
    }

    .products__cards{
        margin: 0 0 48px 0;
    }
    /* CART PAGE */ 
    /*//////////*/

    .cart-left{
        padding: 60px 0;
    }
    .cart-box{
        padding: 39px 0 96px 0;
        display: flex;
        justify-content: space-between;
        &__left{
            width: 358px;
        } 
        &__right{
            flex-direction: column;
            &__form{
                width: 99%;
            }
            &__chekout{
                margin: 48px 0 0 0;
                width: 99%;
            }

        }

    }
    .cart-item{
        &_img{
            max-height: 188px;
            max-width: 144px;
            margin: 0 0 32px 0;
            & img{
                width: 100%;
            }
        }
        &__description{
            padding: 14px 0 0 17px;
            & h2{
                max-width: 144px;
                font-size: 16px;
                line-height: 19px;
                margin: 0 0 26px 0;
            }
            & p{
                font-size: 14px;
                line-height: 17px;
                margin: 0 0 4px 0;
            }
            &__vvod{
                display: flex;
                & p{
                    font-size: 14px;
                    line-height: 17px;
                    
                }
                & input{
                    padding: 2px 0 2px 0x;
                    width: 24px;
                    margin: 0 0 0 24px;
                    font-size: 10px;
                    line-height: 12px;
                    
                }
            }

        }
    }
    .cart-knopki{
        margin: 32px 0 48px 0;
        display: flex;
        justify-content: space-between;
        & a{
            text-decoration: none;
            padding:  9px 18px;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            
            &:first-child{
                margin: 0;
            }
        }
    }
    /* REGISTRATION PAGE */ 
    /*///////////////////*/
    .personal-data{
        padding: 40px 0 100px 0;
    }
    .data{
        flex-direction: column;
        &__right{
            max-width: 100%;
            margin: 40px 0 0 0;
        }
    }
}






